@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jakarta-sans);
  --font-serif: var(--font-poly);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    /* --background: #ededed; */
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

/* Tambahkan class font-poly agar bisa digunakan */
.font-poly {
  font-family: var(--font-serif), serif;
}
